.mainupdatectn {
   margin: 1rem 2rem;
}

.dailyupdatestxt {
   font-weight: 600;
   font-size: 1.4rem;
   color: #6075fe;
}

.imgctn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.emptyimg {
   width: 40%;
   height: 50%
}

.nodatatxt {
   text-align: center;
   font-size: 1rem;
   color: #6075fe;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cardflexwrap {
   width: 100%;
   overflow: scroll;
   scroll-behavior: smooth;
   /* border: 1px solid red; */
   display: flex;
   /* align-items: center; */
   flex-wrap: wrap;
   /* justify-content: space-around; */
}

@media screen and (max-width:500px) {
   .mainupdatectn {
      margin: 0rem;
   }

   .maincardctn {
      width: 100%;
      margin-top: 0;
   }

   .maincardctn:nth-of-type(1) {
      margin-top: 1rem;
   }

   .dailyupdatestxt {
      margin-left: 1rem;
   }

}

@media screen and (min-width:501px) and (max-width:900px) {
   .mainupdatectn {
      margin: 1rem;
   }
}